#
#	toggle-selection-mode-shift-dbus.desktop Version 0.0.1
#	Copyright (C) 2022 Christian Hartmann <hartmann.christian@gmail.com>
#
#	SPDX-FileCopyrightText: 2022 Christian Hartmann <hartmann.christian@gmail.com>
#
#	SPDX-License-Identifier: LicenseRef-KDE-Accepted-GPL
#
#	This program is free software; you can redistribute it and/or
#	modify it under the terms of the GNU General Public License as
#	published by the Free Software Foundation; either version 3 of
#	the license or (at your option) at any later version that is
#	accepted by the membership of KDE e.V. (or its successor
#	approved by the membership of KDE e.V.), which shall act as a
#	proxy as defined in Section 14 of version 3 of the license.
#
#	This program is distributed in the hope that it will be useful,
#	but WITHOUT ANY WARRANTY; without even the implied warranty of
#	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
#	GNU General Public License for more details.
#
# TODO: match remote directories. text/x-uri is not sufficient
#       X-KDE-Protocol?
#       https://develop.kde.org/docs/apps/dolphin/service-menus/#advanced-properties

[Desktop Entry]
Name=Select All
Type=Service
MimeType=inode/directory;inode/mount-point;inode/*;
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
X-KDE-Priority=TopLevel
Icon=edit-select-all-symbolic
InitialPreference=60
Actions=SelectAll;
TryExec=qdbus

[Desktop Action SelectAll]
Icon=edit-select-all-symbolic
Name=Select All
Name[ar]=حدد الكل
Name[bn]=সব নির্বাচন করুন
Name[cs]=Vyberte vše
Name[da]=Vælg alle
Name[de]=Alle auswählen
Name[el]=Επιλέξτε όλα
Name[es]=Seleccionar todo
Name[fa]=همه را انتخاب کنید
Name[fi]=Valitse kaikki
Name[fr]=Sélectionner tout
Name[hi]=सबका चयन करें
Name[hu]=Válassza ki az összeset
Name[id]=Pilih semua
Name[it]=Seleziona tutto
Name[ja]=すべて選択
Name[jv]=Pilih kabeh
Name[ko]=모두 선택
Name[nl]=Selecteer alles
Name[no]=Velg alle
Name[pl]=Zaznacz wszystko
Name[pt]=Selecionar tudo
Name[ru]=Выбрать все
Name[sv]=Välj alla
Name[tr]=Tümünü seç
Name[ur]=سبھی کو منتخب کریں۔
Name[vi]=Chọn tất cả
Name[zh]=选择全部
Exec=bash -c 'for sname in $( qdbus "org.kde.dolphin-*" ) ; do isactive=false ; isactive=$( qdbus "$sname" "/dolphin/Dolphin_1" "org.qtproject.Qt.QWidget.isActiveWindow" ) ; $isactive && qdbus "$sname" "/dolphin/Dolphin_1/actions/edit_select_all" "org.qtproject.Qt.QAction.trigger" ; done'
